/*
 * No LEDs are fitted. The Sofle shield puts the WS2812 data line on spi3 MOSI (P0.06),
 * which is also the nice!view chip select (pro_micro 1), so turn the LED SPI bus off.
 */
&spi3 {
    status = "disabled";
};

/* Wake from soft off (&soft_off) by pressing any key on this half */
/ {
    soft_off_wakers {
        compatible = "zmk,soft-off-wakeup-sources";
        wakeup-sources = <&kscan0>;
    };
};
